* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* position: relative; */
}




nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: red; */
    padding: 10px;
    /* padding: 10px; */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    /* position: sticky;
    top: 0;
    z-index: 9999; */

}

.img {
    height: 70px;
    width: 70px;
    /* border: 2px solid black; */
    border-radius: 50%;
    overflow: hidden;
}

.img>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

nav>ul {
    display: flex;
}

nav>ul>li {
    list-style-type: none;
}


nav>ul>li>a {
    display: block;
    text-decoration: none;
    color: black;
    font-weight: 700;
    padding: 0.5rem;
    margin: 0 0.5rem;
    font-size: 20px;
}

nav>ul>li>a:hover {
    color: rgb(6, 82, 6);
    cursor: pointer;
}

nav>.menu {
    display: block;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 10px;
    height: 3px;


}



.menu {
    position: relative;
    margin-right: 20px;


}

.menu-icon {
    color: black;
    font-size: 30px;
    display: none;



}

.location {
    display: flex;
    align-items: center;
}

.location:hover {
    color: rgb(6, 82, 6);
    cursor: pointer;

}

.location>.loco {
    /* color: white; */
    font-size: 35px;
    /* width: 22px; */
}

.location>p {
    position: relative;
    left: 10px;
    font-size: 20px;
    font-weight: 700;
}

.parent {
    display: flex;
    align-items: center;
}


.box {
    margin-left: 25px;
    height: 40px;
    width: 120px;
    border: 2px solid black;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.box:hover {
    background-color: rgb(243, 237, 237);
}



.box1 {
    margin-left: 25px;
    height: 40px;
    width: 120px;
    border: 2px solid black;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    background-color: black;
    color: white;
}

.box1:hover {
    background-color: rgb(203, 192, 180);
    color: black;
}



.Home-main {

    color: black;
    text-decoration: none;
    font-size: 23px;
    align-items: center;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    bottom: 4px;



}


/* ........ Home ......... */
.Home {
    width: 100%;
    position: relative;
    /* bottom: 30px; */


}

.box-home-parent {
    width: 100%;
    display: flex;
    position: relative;
    top: 30px;
    padding: 5px;
    /* align-items: center; */
    justify-content: center;
    /* justify-content: space-between; */
    /* padding: 1px 300px; */




}

.Home-box {
    height: 720px;
    width: 900px;


    /* border: 2px solid black; */
    /* overflow:hidden ; */

}

.Home-box>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#box2 {
    font-size: 36px;
    background-color: #76232F;
    color: white;
    padding: 40px;
    /* margin-left: 30px; */

}

.h2 {
    position: relative;
    top: 20px;
    text-align: center;
    /* color: white; */
}


.h12 {
    position: relative;
    text-align: center;

    top: 40px;

}

.Home-box>p {
    font-size: 30px;
    position: relative;
    top: 80px;
    text-align: center;
    /* left: 30px; */
}

.Home-box>img {}

#box2 {}

.box-box {
    height: 50px;
    width: 160px;
    border: 2px solid white;
    border-radius: 20px;
    position: relative;
    top: 130px;
    left: 330px;
    text-align: center;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.box-box:hover {
    background-color: #590c17;
}

/* second box  */





/* last-box */

.last-box {

    display: flex;
    padding-top: 40px;

    position: relative;
    margin-left: 110px;
    top: 30px;
    /* gap: 30px; */


}

.last-chiled {

    height: 400px;
    width: 900px;
    /* border: 2px solid black; */
    position: relative;
    bottom: 40px;
    background-color: #006241;





}

.last-chiled>h1 {
    text-align: center;
    position: relative;
    top: 47px;
    color: white;
}

.last-chiled>p {
    text-align: center;
    position: relative;
    top: 70px;
    font-size: 1.7rem;
    color: white;
}

.last-box-chiled {
    height: 60px;
    width: 180px;
    border: 2px solid white;
    position: relative;
    left: 350px;
    margin-top: 100px;
    border-radius: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
}

.last-box-chiled:hover {
    background-color: rgb(2, 46, 2);
}

.last-chiled>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/* .....last-last-page..... */

.last-last-page {
    height: 540px;
    width: 100%;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

    display: flex;
    gap: 30px;
    position: relative;
    padding: 30px 60px;


}

.foot-last {
    /* padding: 30px 70px; */
    text-align: center;
    




}

.foot-last>ul>li {
    list-style-type: none;
    /* top: 10px; */
    margin-top: 30px;
    font-size: 1.3rem;
    font-weight: 500;
    color: #00000094;
    cursor: pointer;



}

.foot-last>ul>li:hover {

    color: black;
}


.foot-last>p {
    font-size: 1.5rem;
    font-weight: lighter;
    font-family: sans-serif;


}

/* .....ekdam last ..... */

.footer-box {
    height: 3px;
    width: 100%;
    /* border: 1px solid black; */
    background-color: #00000029;
    /* background-color: green; */
    /* position: relative; */
    /* margin-left: 30px; */
    border-radius: 4px;
    /* border: 2px solid black; */



}

/* footer  */

.footer-last {

    display: flex;
    /* justify-content: center; */
    gap: 15px;
    /* padding-left: 20px; */
}

.chiled-footer {
    height: 60px;
    width: 60px;
    border: 2px solid black;
    background-color: black;
    position: relative;
    top: 30px;
    /* left: 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;

}



.logo10 {
    font-size: 2rem;
    color: white;
}

.page-ll {
    height: 110px;
    width: 100%;
    display: flex;
    gap: 20px;
}

.p-ll-chiled {
    position: relative;
    /* left: 20px; */
    top: 90px;
    font-size: 1.3rem;
    font-weight: 700;
    cursor: pointer;
}

.mahadev{
    position: relative;
    top: 30px;
    font-size: 1.2rem;
    color: rgba(128, 128, 128, 0.675);
    cursor: pointer;
}

@media (min-width:320px) and (max-width:770px) {

    .menu-icon {
        display: flex;
        position: relative;
        top: 14px;
    }

    nav {
        flex-direction: column;
        align-items: start;
        background-color: rgb(248, 242, 242);
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 8px;
    }

    nav ul.open {
        display: flex;

    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        margin: 5px 5px;
    }

    .location {
        display: none;
    }

    nav>ul>li>a {
        font-size: 14px;
    }

    .parent {
        display: none;
    }

    .Home-main {

        font-size: 15px;
        color: black;
        font-weight: 700;
        position: relative;
        top: 3px;


    }



}




/* start media  */


@media (min-width:320px) and (max-width:770px) {



    .box-home-parent {
        flex-direction: column;
        overflow: hidden;
        /* width: 100%; */



    }

    .Home-box {
        height: 35%;
        width: 100%;
        text-align: center;


    }

    .Home-box>img {
        /* height: 100%; */
        /* width: 100%; */
        object-fit: cover;
    }

    .h2 {
        position: relative;
        right: 5px;
        /* bottom: 30px; */
        /* right: 100px; */
        font-size: 25px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;





    }

    .h12 {
        font-size: 23px;
        position: relative;
        top: 20px;
        right: 10px;

        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;





    }

    .Home-box>p {
        font-size: 18px;
        width: 100%;

        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: lighter;
        position: relative;
        top: 30px;
        color: rgb(214, 204, 204);



    }



    .box-box {
        background-color: antiquewhite;
    }

    .last-box {
        flex-direction: column-reverse;
        margin: 5px;

    }

    .last-chiled {
        height: 60%;
        width: 100%;
        padding: 5px;


    }



    .last-chiled>img {
        height: 50%;
    }

    .last-box-chiled {

        width: 50%;
        left: 24%;
        align-items: center;
        bottom: 15px;

        /* border: 20px soli white; */

    }

    .last-box-chiled>h3 {
        font-size: 0.77rem;


    }

    .last-chiled>p {
        font-size: 1rem;
    }

    .last-chiled>h1 {
        font-size: 1.2rem;
    }

    .last-last-page {
        flex-direction: column;
        box-shadow: none;
        /* background-color: rgb(171, 171, 47); */
        /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
        /* box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
        height: 100%;
        background-color: rgb(198, 185, 185);


    }

    .foot-last {

        width: 100%;




    }

    .foot-last>ul>li {
        font-size: 0.87rem;
        color: black;
        letter-spacing: 1.1px;
        margin-top: 20px;
        /* gap: none; */

        /* font-weight: lighter; */
    }


    .foot-last>p {
        font-size: 1rem;
        font-weight: 700;


    }

    .footer-box {
        width: 100%;
        /* height: 50%; */
        background-color: green;

    }

    .footer-last {
        display: flex;
        justify-content: center;
        
      
    }

    .chiled-footer {
        height: 40px;
        width: 40px;
        background-color: yellow;
        
       


    }

    .logo10 {
        font-size: 1.3rem;
        color: black;
        /* text-align: center; */

        font-weight: 700;

    }

    .page-ll {
        flex-direction: column;
    }

    .p-ll-chiled {
        text-align: center;
        font-size: 0.89rem;
        position: relative;
        top: 50px;
    }

    .mahadev{
        position: relative;
        top: 120px;
        font-size: 0.91rem;
        /* left: 10px; */
    }
    




}








/* <div className='ankar' id='Nav-links'> */
/* <Link href="/Menu">MENU</Link>
<Link href="/Rewads">REWARDS</Link>
<Link href="/Gift">GIFT CARDS</Link> */

/* </div> */


/* @media (min-width:320px) and (max-width:770px) { */